[class~=flow]{
    display: flex;
    flex-direction: row;
    
}

.label-space{
    width:50%
}

div[class~=space]{
    /* border: 1px solid red; */
    margin-bottom: 20px;
    margin-top: 10px;
}

.searchfield{
    width: 500px !important;
} 

.toobar-flexer{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
    background-color: white;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.image-thumbnail{
    max-height: 80px;
    /* position: absolute;
    top: 0;
    left: 0; */
}

.logo-bar{
    height: 80px;
    padding-top: 0px;
    margin-top: 0px;
}
